html, body {
  width: 100%;
  height: 100%;
  background: rgb(243, 232, 232);

  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
#content_container {
  width: 30%;
  height: 70%;
}

#form_container {
  width: 100%;
  height: 100%;

  background-color: #e78607;
  box-shadow: 0 0 50px -20px #000;
  border-radius: 2%;

  overflow: hidden;
}

#form_header_container {
  width: 100%;
  height: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
  float: left;

  padding: 20px;
  padding-bottom: 30px;
  padding-top: 30px;

  border-bottom: 1px solid transparent;
  border-image: yellow 20;
  background: #000;
}

#form_header {
  display: inline-block;
  font-size: 15px;
  font-family: Bowlby One SC;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;


  background: rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#form_content_container {
  width: 100%;
  height: 90%;

  float: left;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
}

#form_content_inner_container {
  width: 75%;
  height: 100%;

  float: left;

}

input {
  width: 100%;
  height: 40px;

  padding-left: 10px;
  margin-bottom: 20px;

  background: #000;
  font-family: Montserrat;
  font-weight: 500;
  color: #fff;
  font-size: 12px;

  border-bottom: 2px solid transparent;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  border-image: orange 1;
}

#button_container {
  width: 100%;
  height: 10%;

  background-image: blue;
  color: #fff;

  float: left;

  margin-top: 5px;
}

#button_container button {
  width: 50%;
  height: 100%;
  float: left;

  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 12px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}